PORT=4000
DATABASE_URL="postgresql://user:password@host.docker.internal:5432/insightpoll?schema=public"
LOGIN_SECRET_KEY="your_custom_secret_login_slug"
JWT_SECRET="your_very_long_and_secure_jwt_secret_key"
JWT_EXPIRES_IN="7d"
ADMIN_NAME="Administrator"
ADMIN_EMAIL="admin@insightpoll.com"
ADMIN_PASSWORD="StrongPassword#2026!"
OBSERVE_APP_KEY=""
OBSERVE_APP_SECRET=""
